<?xml version="1.0"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="MagazineImportJob"/>
    <!--Serilog-->
    <add key="serilog:minimum-level" value="Debug"/>
    <!--Serilog - Debug sink-->
    <add key="serilog:using:Debug" value="Serilog.Sinks.Debug"/>
    <add key="serilog:write-to:Debug"/>
    <!--Serilog - Console sink-->
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console.theme" value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
